body {
  background-color: #eef6fc;
}
.Main {
  display: flex;
  flex-direction: column;
  width: 75%;
}
.Selected {
  color: white;
  background-color: #1e555c;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}
.Summary {
  font-size: 24px;
  text-align: center;
  margin-bottom: 0px;
}
.quote {
  text-align: center;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
li {
  margin-bottom: 12px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
section {
  margin-bottom: 22px;
}
.Map {
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
}
.MapSection {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}
.Locations {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.Map section {
  min-width: 150px;
  padding: 12px;
}
.MapArea {
  width: 60%;
  text-align: center;
  background-color: gray;
}
.Location {
  background-color: lightblue;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}
.Location:hover {
  cursor: pointer;
}
.Info {
  width: 20%;
}
